@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
 --body-bg: #ffffff; 
 --bg-color: #ffffff; 
 --menu-bg: #ffffff;
  --my-color : #ffffff;
  --primary-color: #0067FF;
  --secondary-color: #FFB60D;
  --purple-color : #9771FF;
  --iris-color: #01B5D8;
  --heading-color: #181A1E;
  --text-color: #4E545F;

}

[data-theme='dark'] {
 --body-bg: #121212; 
 --bg-color: #1e293b;
 --menu-bg: #374151;
  --my-color : #121212;
  --primary-color: #0067FF;
  --secondary-color: #FDE68A;
  --purple-color : #4B5563;
  --iris-color: #F3F4F6;
  --heading-color: #fff;
  --text-color: #c9cdd5;
}

.container {
  max-width: 100%;
  width: 1440px;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: auto;
  margin-right: auto;
}
.btn {  
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 38px;
  font-weight: 600;
  border-radius: 9999px;
  background: var(--primary-color);
  color: white;
}
/*
@layer base {
  .section {
    @apply py-[75px]
  }
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] px-12 mx-auto
  }

  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] text-white font-[600] mt-[38px] rounded-full
  }

  .heading {
    @apply text-[44px] text-headingColor leading-[54px] font-[700] 
  }

  .text_para {
    @apply text-[18px] leading-[30px] font-[400] text-textColor mt-5
  }

  .header {
    @apply bg-[url('./assets/images/header-bg.png')] bg-center bg-cover bg-no-repeat w-full h-[100px] leading-[100px]
  }

  .hero_section {
    @apply bg-[url('./assets/images/hero-bg.png')] bg-cover bg-center bg-no-repeat
  }

}
*/

 
  .numberInput::-webkit-outer-spin-button,
  .numberInput::-webkit-inner-spin-button {
    -webkit-apprearance: none;
    margin: 0;
  }

body {
  background: var(--my-color);
}

.section{
  padding-top: 75px;
  padding-bottom: 75px;
}
.container {
  max-width: 100%;
  width: 1440px;
  padding-right: 36px;
  padding-left: 36px;
  margin-left: auto;
  margin-right: auto;
}
.heading {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  color: var(--text-color);
}
.text-para {
  color: var(--text-color);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
}

.header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: url("../src/assets/images/header-bg.png") cover no-repeat center;
  background-color: var(--menu-bg);
  border-bottom: .2px solid #e5e7eb;
}

.hero_section {
  background: url('./assets/images/hero-bg.png') no-repeat cover center;
}
.dark.btn {
  background: var(--bg--color-light)
}



@media only screen and (max-width: 1024px){
  .container {
    width: 100%;
  }

  .section {    
    margin-top : 35px
  }
}

@media only screen and (max-width: 768px){
  .heading {
    font-size: 44px;
    line-height: 55px;    
  }
  .text_para {
    font-size: 16px;
    line-height: 30px;
    margin-top: 12px;
  }
}
